body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.card {
    width: 50%; /* Relative to the screen width */
    max-width: 428px; /* Ensures a consistent look on larger screens */
    min-height: 80vh; /* Adapts to smaller screens */
    background: linear-gradient(123deg, #00feba, #5b548a);
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
